.offer {
    // .offer__inner
    &__inner {
        text-align: center;
        padding-bottom: 130px;
    }
    // .offer__title
    &__title {
        color: $black;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 100px;
        img{
        vertical-align: middle;
        }
    }
    // .offer__content
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    // .offer__content-left
    &__content-left {
        padding-right: 20px;
    }
    // .offer__content-middle
    &__content-middle {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 80px;
    }
    // .offer__content-right
    &__content-right {
        margin-right: auto;
        text-align: left;
    }
    // .offer__content-right-statement
    &__content-right-statement {
        color: $black;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 14px;
    }
    // .offer__content-right-title
    &__content-right-title {
        color: $black;
        font-weight: 400;
        font-size: 36px;
        padding-bottom: 15px;
    }
    // .offer__content-right-suptitle
    &__content-right-suptitle {
        padding-bottom: 25px;
        color: $black;
        opacity: 0.7;
        font-size: 16px;
    }
    // .offer__content-right-btn
    &__content-right-btn {
        button{
            background-color: #1D1F2E;
            color: white;
            text-transform: uppercase;
            border: none;
            padding: 9px 24px 8px 24px;
            border: 2px solid transparent;
            transition: all 0.3s ease 0s;
            &:hover{
                color: $black;
                background-color: white;
                border: 2px solid $black;
            }
        }
    }
}


@media (max-width: 840px){
    .offer__content-middle{
        padding: 0;
    }
    .offer__content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .offer__content-right{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
}

@media (max-width: 540px){
    
    .offer__content-middle{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-right: 0;
    }
    .offer__content-left{
        padding-right: 0;
    }
    .offer__content-left{
        padding-bottom: 20px;
    }
}

@media (max-width: 400px){
    .offer__content-left{
        padding-right: 0;
    }
    .offer__content-middle{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 26px;
    }
}