.picture {
    background-image: url(../images/picture-bg.png);
    height: 340px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    padding-bottom: 100px;
}
